@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --font-roboto: "Roboto Condensed", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

$primary: #4d61f4;
$surface: white;
$surface-200: #fafafa;
$progress-color: #004c00;
$destructive-color: #4d0000;

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}
p {
  font-weight: 400;
  line-height: 150%;
}

h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  font-family: (var(--font-raleway));
}

h2 {
  font-family: (var(--font-raleway));

  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.btn {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid $primary;
  background: $primary;
  outline: none;
}

button {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.call-btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid $primary;
  color: $primary;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.footer-foot-links {
  p {
    font-size: 14px;
    text-decoration: underline;
  }
}

.banner_img {
  width: 100%;
  height: 50px;
  background-image: url("/src/assets/banner.png");
  background-size: cover;
}

.my_container {
  width: 91%;
  margin: 0 auto;
}

// Carousels
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  padding: 0 !important;
}

/* Custom styling for Alice Carousel */
.alice-carousel {
  width: 100%; /* Set the width to 100% to ensure full width */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

// .alice-carousel .alice-carousel__stage-item {
//   margin: 0 10px !important;
// }

// .alice-carousel__stage-item:nth-child(1){
//   background-color: red !important;
//   margin-left: 0 !important;
// }

// /* Style the individual items within the carousel */
// .alice-carousel .alice-carousel__wrapper .alice-carousel__stage-item {
//   padding: 0 5px; /* Adjust the padding to control item spacing */
// }

// /* Style the prev and next buttons if needed */
// .alice-carousel .alice-carousel__prev-btn, .alice-carousel .alice-carousel__next-btn {
//   background: transparent;
//   border: none;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
// }

// /* Adjust the button container size if needed */
// .alice-carousel .alice-carousel__prev-btn-wrapper, .alice-carousel .alice-carousel__next-btn-wrapper {
//   width: auto;
//   height: auto;
// }

@media (min-width: 780px) {
  .my_container {
    width: 92%;
    margin: 0 auto;
  }
}

.full__bleed {
  box-shadow: 0 0 0 100vmax #03236c;
  clip-path: inset(0-100vmax);
}

.responsive_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ql-container.ql-snow,
.ql-container {
  padding-bottom: 4rem;
  // border-radius: 20px;
}
.quill {
  border-radius: 20px;
}

.ql-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slick-slider.slick-track {
  background: green !important;
}
.slider {
  height: 100%;
  display: grid;
  place-items: center;
}

.slide-track {
  display: flex;

  width: calc(390px * 12);

  animation: scroll 40s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-390px * 6));
  }
}
.slide {
  width: 390px;
  height: 100%;

  padding: 15px;
  perspective: 200px;
}
